@inherits NancyRazorViewBase<VenueModel>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>@Model.Name</h2>
            <div>
                <a class="btn btn-primary btn-large" href="@Url.Content("~/venues/" + Model.Id + "/checkin")">Checkin</a>
            </div>
            <div>
                @Model.TotalUsers users have checked in here @Model.TotalCheckins times.
            </div>
        </div>
    </div>
    <div class="row">
        <img src="@Model.MapUrl" />
    </div>
</div>