@inherits NancyRazorViewBase<UserDashboardModel>

<div class="container">
    <div class="content">
        <div class="page-header">
            <h1>@Model.Name</h1>
            <hr />
            <img src="@Html.UserGravatar(Model.Email)" />
            <h3>Checkin Stats</h3>
            <div>Total Checkins: @Model.Stats.TotalCheckins</div>
            <div>Total Locations: @Model.Stats.TotalLocations</div>
            @if(Model.Stats.LastVenueName != null)
            {
                <div>Last Checked into @Model.Stats.LastVenueName at @Model.Stats.LastCheckinTimeUtc</div>
            }
            <h2>Checkins</h2>
            <div>do something here</div>
        </div>
    </div>
</div>